<a href="https://colab.research.google.com/github/lawielas/Hamoye-Data-Science-Internship/blob/master/Hamoye_graded_quiz_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
#we append the two lists one by one
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A_B=[]
for x in A:
  A_B.append(x)
for x in B:
  A_B.append(x)
print(A_B)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [29]:
#import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [2]:
url='https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'

In [3]:
energy_data= pd.read_csv(url, error_bad_lines=False)

In [4]:
energy_data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

to get the 75% and standard deviation of energy per unit

In [31]:
energy_data.describe(include="all")

                      record_id  ...  fuel_cost_per_mmbtu
count                     29523  ...         29523.000000
unique                    29523  ...                  NaN
top     f1_fuel_1996_12_100_0_1  ...                  NaN
freq                          1  ...                  NaN
mean                        NaN  ...            19.304354
std                         NaN  ...          2091.540939
min                         NaN  ...           -41.501000
25%                         NaN  ...             1.940000
50%                         NaN  ...             4.127000
75%                         NaN  ...             7.745000
max                         NaN  ...        359278.000000

[11 rows x 11 columns]

to get the skewness and kurtosis

In [32]:
energy_data.skew(axis = 0, skipna=True)

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [33]:
energy_data.kurtosis(axis=0, skipna=True)

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

to find columns with missing values and the percentage

In [5]:
energy_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [9]:
percent=energy_data.isnull().sum() * 100 /len(energy_data)

In [10]:
print(percent)

record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.609694
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64

to find fuel type with lowest average fuel cost per unit burned

In [30]:
energy_data.groupby('fuel_cost_per_unit_burned').first()

                                          record_id  ...  fuel_cost_per_mmbtu
fuel_cost_per_unit_burned                            ...
-276.080                    f1_fuel_2000_12_194_3_3  ...               -8.906
-174.670                    f1_fuel_2000_12_194_3_6  ...               -5.635
-123.310                   f1_fuel_2000_12_194_2_15  ...               -3.978
-119.040                    f1_fuel_2003_12_281_1_4  ...               -5.750
-85.760                     f1_fuel_1995_12_194_5_9  ...               -3.186
...                                             ...  ...                  ...
 65137.588                   f1_fuel_2012_12_7_7_13  ...                0.976
 69785.215                   f1_fuel_2011_12_7_7_13  ...                1.046
 80459.000                  f1_fuel_2014_12_177_2_7  ...               13.445
 83538.000                  f1_fuel_2011_12_132_1_2  ...               14.207
 139358.000                 f1_fuel_2014_12_147_0_2  ...               22.577

[19416 rows x 10 columns]

to find correlation of fuel cost per unit burned

In [12]:
corr= energy_data.corr()

In [15]:
energy_data.corr(method='pearson')

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

to replace missing values with most common value

In [34]:
energy_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [36]:
energy_data.groupby('fuel_unit')['fuel_unit'].count()

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

In [37]:
energy_data[['fuel_unit']] = energy_data[['fuel_unit']].fillna(value='mfc')

to find year with highest average fuel cost per unit delivered

In [38]:
energy_data.groupby('fuel_cost_per_unit_delivered').first()

                                             record_id  ...  fuel_cost_per_mmbtu
fuel_cost_per_unit_delivered                            ...
-874.937                       f1_fuel_2008_12_177_1_1  ...               15.055
-488.054                       f1_fuel_2007_12_177_2_4  ...               13.487
-313.410                       f1_fuel_2004_12_210_1_6  ...                6.779
-174.670                      f1_fuel_2000_12_194_2_15  ...               -3.978
-170.187                         f1_fuel_2015_12_6_1_2  ...               21.608
...                                                ...  ...                  ...
 1942979.000                    f1_fuel_1997_12_9_0_14  ...                0.560
 2114508.000                    f1_fuel_1996_12_9_0_14  ...                0.095
 2255688.000                    f1_fuel_1997_12_9_0_11  ...                1.087
 7793482.000                     f1_fuel_1996_12_9_0_8  ...                0.145
 7964521.000                     f1_fuel_1997_12_9_0_8  ...                0.578

[16675 rows x 10 columns]